.scs-experiences-widget {
    padding: 1rem;
    position: relative;
    z-index: 1;
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}

.scs-experiences-widget::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("https://scs-ochre.vercel.app/textures/riso_texture.jpg");
    background-size: 130%;
    background-repeat: repeat;
    z-index: -5;
    pointer-events: none;
}


.scs-experiences-list {
    display: grid;
    gap: .825rem;
}

.scs-experience-card {
    border: 2px solid #0c2340;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.scs-vendor-image {
    /* height: 240px; */
    display: flex;
    border-top: 2px solid #0c2340;
    position: relative;
}

.scs-vendor-offer-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    background-color: #a7c6ed;
    position: absolute;
    right: .5rem;
    top: -2rem;
    padding: .5rem;
    /* border-top: none !important; */
    border: 2px solid #0c2340;

    >span:nth-child(2) {
        font-family: 'mls-tifo-headline-b8wssb', sans-serif;
        font-size: 9px;
        line-height: 8px;
        text-transform: uppercase;
        letter-spacing: 4%;
    }
}

.artist-img-vendor img {
    display: flex;
    width: 100%;
    object-fit: cover;
    object-position: top;
    aspect-ratio: 16/9;
}

.scs-vendor-name {
    text-wrap: wrap !important;
}

.scs-drawer-activation-title {
    font-size: .85rem;
    text-transform: uppercase;
    font-family: 'mls-tifo-standard-cz9zex';
    font-style: normal;
    font-weight: 700;
}

.scs-vendor-name {
    font-family: 'dharma-gothic-m-gvf2i7';
    text-transform: uppercase;
    font-size: 3.5rem !important;
    line-height: 3.25rem !important;
}

.scs-partner-title {
    /* text-transform: uppercase;
     font-family: 'mls-tifo-standard-cz9zex';
    font-style: normal;
    font-weight: 700;
font-size: 12px;
line-height: 10px; */
    font-style: italic;
}

.scs-music-nav-exp {
    padding: 0rem 0rem 1.5rem;
}

@media (min-width: 768px) {
    .scs-experiences-list {
        grid-template-columns: 1fr 1fr;
    }

    .scs-experiences-widget {
        padding: 0 2rem;
    }

    .scs-vendor-name,
    .scs-drawer-title {
        font-size: 5rem !important;
        line-height: 4rem !important;
    }

}

@media (min-width: 1024px) {
    .scs-experiences-list {
        grid-template-columns: 1fr 1fr 1fr;
    }


}