.full-schedule-wrapper {
    margin: 0 auto;
    display: grid;
    gap: .825rem;
    font-size: 12px;
    position: relative;
}

.full-schedule-wrapper::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("https://scs-ochre.vercel.app/textures/riso_texture.jpg");
    background-size: 130%;
    background-repeat: repeat;
    z-index: -5;
    pointer-events: none;
}


/* .fs-date, .fs-theme {
    font-family: 'mls-tifo-headline-b8wssb' !important;
    letter-spacing: 4%;
    text-transform: uppercase;
    font-size: 20px;
} */

.full-schedule-day {
    border: 2px solid #0c2340;
    overflow: hidden;
}

.fs-meta-wrapper {
    padding: 1rem;
    border-bottom: 2px solid #0c2340;

}

.fs-section,
.dj-section {
    padding: 1rem;
}

.dj-section {

    margin-right: 1rem;
    margin-left: 1rem;
    border-bottom: 2px solid #0c2340;
    border-left: 2px solid #0c2340;
    border-right: 2px solid #0c2340;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    >div {
        display: flex;
        gap: .5rem;
        flex-wrap: wrap;
        /* font-size: 13px; */
        align-items: center;
        /* >div:nth-child(2) {
            border-left: 1px solid #0c2340;
            padding-left: .25rem;
        } */
    }
}

.bold-label {
    display: flex;
    align-items: center;
    gap: .125rem;

}

/* .fs-uppercase {
    text-transform: uppercase;
    font-family: 'mls-tifo-headline-b8wssb';
} */

/* .sched-label-mini {
    font-size: 13px;
} */

@media (min-width: 768px) {
    .full-schedule-wrapper {
        grid-template-columns: 1fr 1fr;
    }

}

@media (min-width: 1024px) {
    .full-schedule-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 16px;
    }

    /* .full-schedule-day:nth-child(1) {
        grid-column: span 2;
    } */

}

@media (min-width: 1280px) {}

.fs-match-grid {
    display: grid;
    /* display: flex; */
    /* 
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); */
    gap: 5px;
    margin: 16px 0;
}

.fs-match-card {
    padding: 12px 16px;
    /* border-radius: 8px; */
    /* border: 1px solid #c3cad3; */
    border-bottom: 1px dashed #91969b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.fs-session-item {
    display: flex;
    justify-content: space-between;
}