.full-schedule-wrapper {

    margin: 0 auto;
    display: grid;
    gap: .825rem;
 
}

/* .fs-date, .fs-theme {
    font-family: 'mls-tifo-headline-b8wssb' !important;
    letter-spacing: 4%;
    text-transform: uppercase;
    font-size: 20px;
} */

.full-schedule-day {
    border: 1px solid red;
    overflow: hidden;
}

.fs-meta-wrapper {
    padding: 1rem;
border-bottom: 1px solid red;
}
 .fs-section {
   
 padding: 1rem;
}

.watch-matches-wrapper {
    display: flex;
    gap: 1rem;
    overflow-y: scroll;
   width: 100%;
   background-color: lavender;
}

.watch-item {
        border: 2px solid #0c2340;
}

.bold-label {
    display: flex;
        align-items: center;
        gap: .125rem;
}

.sched-label-mini {
font-size: 13px;
}

@media (min-width: 768px) {
.full-schedule-wrapper {
grid-template-columns: 1fr 1fr;
}

}

@media (min-width: 1024px) {
.full-schedule-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
}

.full-schedule-day:nth-child(1) {
    grid-column: span 2;
}

}

@media (min-width: 1280px) {}

.fs-match-grid {
    display: grid;
    /* display: flex; */
  /* 
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); */
  gap: 5px;
  margin: 16px 0;
}

.fs-match-card {
  background: #fafafa;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #333;
    display: flex;
      justify-content: space-between;
          align-items: center;
      gap: 2rem;
}

.fs-session-item {
  display: flex;
      justify-content: space-between;
}
