/* Home.css */
.home-schedule-integration {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  opacity: 0; /* Hidden until GSAP Act 4 */
  background: #000; /* Or a slight transparency */
}

.bc-custom-home-root {
  background-color: #000;
  overflow: hidden;
}