.kbyg-wrapper {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.kbyg-list {
  display: grid;
  gap: 1rem;
}

.kbyg-map {
  background-color: pink;
  text-align: center;
  display: grid;
  padding: 2rem;

  >h5 {
    padding: 1rem 0;
  }

  >img {
    width: 100%;
    border-radius: 15px;
  }
}



.kbyg-col {
  border: 2px solid #0c2340;


  p {
    padding: 1rem 1rem 0;
    display: flex;
    gap: 2rem;
    margin: 0 !important;
  }

  .kbyg-link-drawer-group {
    padding: 1rem;
  }

}

.kbyg-link-drawer-group-sp {

  display: flex;

  >div {
    display: flex;

    >img {
      width: 100%;
    }
  }
}

.kbyg-info-group-wrapper {
  display: flex;
  align-items: center;

  >div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;

    >img {
      width: 100%;
    }
  }
}

.kbyg-info-group {

  padding: 1rem;
  gap: .5rem;
  cursor: pointer;
}

.kbyg-info-block {
  padding: .75rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .15rem;
  border: 2px solid #0c2340;
  border-radius: 6px;

}

.kbyg-title {
  padding: 1rem !important;
  font-size: 20px;
  font-family: 'mls-tifo-headline-b8wssb';
  text-transform: uppercase;

  border-bottom: 2px solid #0c2340;
}

.kbyg-wrapper h3 {
  text-align: center;
}

.kbyg-item {
  width: fit-content;
}

.kbyg-link,
.kbyg-item-button {
  background-color: transparent;
  font-family: 'mls-tifo-headline-b8wssb';
  font-size: .9rem;
  padding: .75rem 1rem;
  border: 2px solid #0c2340;
  margin-bottom: .5rem;
  border-radius: 6px;
  color: #0c2340;
  text-align: left;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.kbyg-item-button {
  width: stretch;
}


.kbyg-item:hover {
  background: #f5f7fa;
}

.scs-drawer-a {
  display: grid;
  justify-items: center;
  gap: .25rem;
}

.kbyg-icon-label {
  font-family: 'mls-tifo-headline-b8wssb';
  font-size: .9rem;
}

@media (min-width: 1024px) {
  .kbyg-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .kbyg-list {
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(2, 1fr);
  }

  .kbyg-col:nth-child(1) {
    grid-area: 1 / 1 / 2 / 3;
  }

  .kbyg-col:nth-child(2) {
    grid-area: 2 / 1 / 3 / 2;
  }

  .kbyg-col:nth-child(3) {
    grid-area: 2 / 2 / 3 / 3;
  }
}