.kbyg-wrapper {
  display: grid;
  gap: 1rem;
}

@media (min-width: 768px) {
  .kbyg-wrapper {
    grid-template-columns: repeat(3, 1fr);

  }
}

.kbyg-col {
      border: 2px solid #0c2340;
        padding: 1rem;
}

.kbyg-col h3 {
  font-size: 1rem;
  margin-bottom: .5rem;
  text-transform: uppercase;
  font-weight: 700;
}

.kbyg-item, .kbyg-item-button {
  display: block;
  padding: .75rem 1rem;
  border: 2px solid #0c2340;
  margin-bottom: .5rem;
  border-radius: 6px;
  background: #fff;
  text-align: left;
  cursor: pointer;
  font-size: .9rem;
text-decoration: none;
}
.kbyg-item-button {
    width: 100%;
}


.kbyg-item:hover {
  background: #f5f7fa;
}
