.kbyg-wrapper {
  display: grid;
  gap: 1rem;
}

  .kbyg-list{
display: grid;
gap: 1rem;
  }

@media (min-width: 768px) {
  .kbyg-list{
    grid-template-columns: repeat(3, 1fr);

  }
}

.kbyg-col {
      border: 2px solid #0c2340;
            >div:nth-child(2){
               padding: 1rem;
               display: flex;
               gap: 2rem;
               >div {
                display: grid;
                gap: .15rem;
               }

      }
      >div:nth-child(3){
               padding: 1rem;
      }
 
}
.kbyg-title {
         padding: 1rem!important;
  font-size: 20px;
    font-family: 'mls-tifo-headline-b8wssb';
    text-transform: uppercase;

    border-bottom: 2px solid #0c2340;
}



.kbyg-wrapper h3 {
text-align: center;
}
.kbyg-item {
  width: fit-content;
}

.kbyg-link, .kbyg-item-button {
  background-color: transparent;
  font-family: 'mls-tifo-headline-b8wssb';
  padding: .75rem 1rem;
  border: 2px solid #0c2340;
  margin-bottom: .5rem;
  border-radius: 6px;
color: #0c2340;
  text-align: left;
  cursor: pointer;
  font-size: .9rem;
text-decoration: none; 
display: flex;
align-items: center;
justify-content: space-between;
gap: .25rem;
}
.kbyg-item-button {
  width: stretch;
}


.kbyg-item:hover {
  background: #f5f7fa;
}

.scs-drawer-a {
  display: grid;
  justify-items: center;
  gap: .25rem;
}

.kbyg-icon-label {
      font-size: 12px;
    font-weight: bolder;
}