/* h3 {
    font-size: 4rem;
    line-height: 3.5rem;
} */

h5 {
    font-family: 'mls-tifo-headline-b8wssb' !important;
    font-size: 1.5rem;
    line-height: 1rem;
    margin: 0 !important;
    color: var(--scs-red);
    padding-top: .5rem;
}

h6 {
    font-family: 'mls-tifo-headline-b8wssb' !important;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    margin: 0 !important;
    text-transform: uppercase;
}

.scs-date-text {
color: #0c2340;
}

.scs-day-date-wrapper {
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    /* flex-direction: column; */
    justify-content: space-between;
    border-bottom: 1px solid var(--scs-indigo);
    padding-bottom: .5rem;
}

.scs-team-tba {
    font-style: italic;
    color: #888;
    font-size: 1rem !important;
}

.fivoButton {
    font-family: 'mls-tifo-standard-cz9zex';
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    gap: .5rem;
    cursor: pointer;
}

.fivoButton .material-symbols-outlined {
    font-size: 15px !important;
}

.scs-sched-button-label {
    font-size: .925rem;
}

.scs-vs,
.scs-team-name {
    font-family: 'mls-tifo-standard-cz9zex';
    font-weight: 400;
    /* text-transform: uppercase; */
    font-size: 1.15rem;
    line-height: 1rem;
}
.scs-match-time {
    font-family: 'mls-tifo-standard-cz9zex';
    font-weight: 700;
    text-transform: uppercase;
    font-size: .925rem;
    line-height: 1rem;
}

.scs-flag {
    max-width: 100px;
}

.scs-flag img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    
}

@media (min-width: 768px) {

}

@media (min-width: 1024px) { 

}

@media (min-width: 1280px) {


}