/* --- BASE WRAPPER --- */
.scs-schedule-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

/* --- DAY BLOCK --- */
.scs-day-block {
    display: grid;
    gap: 1rem;
    /* padding: 2rem; */
}

h3 {
    font-size: 4rem;
    line-height: 3.5rem;
}

h5 {
    font-family: 'mls-tifo-headline-b8wssb'!important;
    font-size: 1.5rem;
    line-height: 1rem;
    margin: 0!important;
    color: var(--scs-red);
    padding-top: .5rem;
}
h6 {
   font-family: 'mls-tifo-headline-b8wssb'!important;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    margin: 0!important;
    text-transform: uppercase;
}


/* --- THEME HEADER --- */

.scs-day-meta {
    display: grid;
    gap: 1rem;
    width: 100%;
    grid-template-columns: 1fr;
}

.scs-door-times {
        display: flex;
    gap: .15rem;
}

/* .scs-theme-title {
    font-family: var(--font-main);
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 3rem;
    text-transform: uppercase;
} */

.scs-date-text {
    /* font-family: 'mls-tifo-standard-cz9zex';
    font-weight: 700;
    font-size: 1.15rem;
    line-height: 1rem; */
    text-transform: uppercase;
    color: var(--scs-indigo);
    border-bottom: 2px solid var(--scs-indigo);
padding-bottom: 1rem;
}

.scs-day-desc {
    margin: 0!important;
}

.scs-day-match-category {
    font-family: 'mls-tifo-standard-cz9zex';
    font-weight: 400;
    font-size: 1rem;
    font-weight: 1rem;
    text-transform: capitalize;
    padding-top: 1rem;
}

.scs-match-list {
    display: grid;
    gap: 2rem;
    margin-top: 1rem;
}

/* --- SESSION STYLING --- */
.scs-session {}

.scs-session-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.scs-time-label {}

/* --- MATCH CARDS --- */
.scs-match-grid {
    display: grid;
}

.scs-match-card {}

.scs-match-time {}


.scs-match-teams {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    border-bottom: 1px solid #dedede;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.scs-team-flags-wrapper {
    display: flex;
    gap: .5rem;
}

.scs-team {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
}

.scs-team-details {
    display: flex;
    gap: .5rem;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.scs-team-matchup {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}
.scs-vs,
.scs-team-name {
    font-family: 'mls-tifo-standard-cz9zex';
    font-weight: 400;
    /* text-transform: uppercase; */
    font-size: 1.15rem;
    line-height: 1rem;
}
.scs-match-time {
    font-family: 'mls-tifo-standard-cz9zex';
    font-weight: 700;
    text-transform: uppercase;
    font-size: .925rem;
    line-height: 1rem;
}

.scs-vs {}

.scs-flag-img {
    width: 120px;
}

.scs-flag-img img {
    width: 100%;
    object-fit: cover;
}

/* --- BREAKPOINTS --- */

/* TABLET (Portrait) */
@media (min-width: 768px) {

    .scs-day-meta {

        grid-template-columns: 1fr 1fr;
    }
    .scs-match-list {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .scs-match-teams {
        flex-direction: row;
    }

    /* .scs-session {
        border-right: 1px solid #0c2340;
    } */

}

/* TABLET (Landscape) / SMALL DESKTOP */
@media (min-width: 1024px) {
    /* .scs-schedule-wrapper {
        grid-template-columns: 1fr 1fr;
    } */

    .scs-day-block {}

}

/* LARGE DESKTOP */
@media (min-width: 1280px) {
    /* .scs-schedule-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    } */

    .scs-match-grid {}
}

/* --- UTILS --- */
.scs-loader {}