/* Global Mobile */
.material-symbols-outlined {
  font-size: 30px !important;
  /* Added these for better centering */
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
}

.eventlist-title,
.eventitem-title {
  font-size: 3rem !important;
  line-height: 2.5rem;
}

.ticketNavMobile {
  display: flex;
  justify-content: space-between;
  gap: .5rem;
}

.ticketNavDesktop {
  display: grid;
  grid-template-columns: 1fr 1fr !important;
  gap: 1rem;
  max-width: 85%;
}

.ticketNavMobile a {
  display: grid;
  justify-items: center;
  padding: .825rem !important;
}

.ticketNavDesktop a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem !important;
  gap: 1rem;
}

/* Grid containers */

/*.scs-grid-ga {}
.scs-grid-stm{}
 */
.premiumCard {
  display: grid;
  /* gap: 1rem; */
}


/* Card Styling */
.scs-grid-premium .premiumCard {
  border-top: 1px solid #efefef;
  display: flex;
  flex-direction: column;
}

.cardCopyWrapper {
  display: grid;
  gap: 10px;
}

.cardTitle {
  margin: 0;
}

.cardDescription p {
  margin: 0 !important;
}

.premiumCard h5 {
  font-family: 'mls-tifo-headline-b8wssb', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.perks-list {
  display: grid;
  gap: .5rem;
  flex-grow: 1;
}

.perkItem {
  display: flex;
  align-items: center;
  gap: .825rem;
  border-bottom: 1px solid #dedede;
  padding-bottom: 5px;
  min-height: 50px;
  /* Added to keep rows consistent if text wraps */
}

.perkImg {
  /* width: 40px; */
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  /* Prevents the icon container from squishing */
}

.perkItem span {
  text-transform: capitalize;
  line-height: 1.2;
}

/* Image & Disclaimer Additions */

.scs-grid-ga .skc-image-wrapper {
  display: none;
}

.skc-cardImage {
  display: grid;
}

.skc-cardImage img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  aspect-ratio: 16/7;
}

.fevo-wrapper {
  width: 100%;
  margin-top: 1rem;
}



/*Mobile Only Overrides*/
@media (max-width: 767px) {

  .fevo-wrapper button {
    width: 100%;
  }
}

/*Home Hero Custom */


/* Desktop Icon Scaling */
@media (min-width: 768px) {

  .skc-image-wrapper {
    display: flex;
    gap: .5rem;
  }

  /* .material-symbols-outlined {
    font-size: 40px !important;
  } */
  .scs-grid-ga .premiumCard {

    align-items: center;
    grid-template-columns: 1fr;
  }


  /* .premiumCard {
    border: 2px solid #dedede;
  } */

  /* .scs-grid-premium .premiumCard {
    border: 2px solid #dedede;
  } */

  .scs-grid-stm .premiumCard {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }

  .scs-grid-private .cardCopyWrapper {
    padding: 0;
    display: block;
  }


  .cardCopyWrapper {
    padding: 2rem;
  }

  /* .scs-grid-stm .premiumCard .skc-cardImage img,
  .scs-grid-private .premiumCard .skc-cardImage img {
       aspect-ratio: 4 / 5;
  } */
}

@media (min-width: 1080px) {
  .scs-grid-premium {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px;
  }

  /* .scs-grid-private .premiumCard {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
  } */
  .scs-grid-stm .premiumCard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }


  .scs-grid-stm .premiumCard .skc-cardImage img,
  .scs-grid-private .premiumCard .skc-cardImage img {
    height: 550px !important;
  }

  .scs-grid-ga .premiumCard .cardCopyWrapper {
    padding: 1rem;
  }


}

@media (min-width: 1400px) {}