/* src/App.css */
:root {
  --scs-off-white: #FAFAFA;
  --scs-sporting-blue: #A6C6ED;
  --scs-indigo: #0C2440;
  --scs-red: #A92F2D;
  --bg-color: #000510;
  --accent-cyan: #79E1FF;
  --text-white: #ffffff;
  --text-dim: rgba(255, 252, 225, 0.3);
  --font-main: 'dharma-gothic-m-gvf2i7', sans-serif;
  --font-secondary: 'mls-tifo-headline-b8wssb', sans-serif;
  --font-script: 'folkies-vantage-script-r5ps4q', cursive;
  --heading-1-size-value: 10;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  /* prevents accidental sideways scroll */
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'mls-tifo-headline-b8wssb';
  font-style: normal;
  font-weight: 800;
  src: url('https://file.squarespace-cdn.com/content/v2/namespaces/fonts/libraries/69c2ef358a34ab18fd392d39/assets/07fff099-84ef-4355-8a05-201de99c1ee5/font.woff2') format('woff2');
}

@font-face {
  font-family: 'dharma-gothic-m-gvf2i7';
  font-style: normal;
  font-weight: 700;
  src: url('https://file.squarespace-cdn.com/content/v2/namespaces/fonts/libraries/69c2ef358a34ab18fd392d39/assets/fcd74b1f-f462-4e3c-a6a2-67f0129759ab/font.woff2') format('woff2');
}

@font-face {
  font-family: 'mls-tifo-standard-cz9zex';
  font-style: normal;
  font-weight: 700;
  src: url('https://file.squarespace-cdn.com/content/v2/namespaces/fonts/libraries/69c2ef358a34ab18fd392d39/assets/3a41a9fb-73b6-48ea-a747-c1f863fd8b8c/font.woff2') format('woff2');
}

@font-face {
  font-family: 'mls-tifo-standard-cz9zex';
  font-style: normal;
  font-weight: 400;
  src: url('https://file.squarespace-cdn.com/content/v2/namespaces/fonts/libraries/69c2ef358a34ab18fd392d39/assets/14a4ae74-1640-4cb5-8794-bfa8554dada7/font.woff2') format('woff2');
}

@font-face {
  font-family: 'folkies-vantage-script-r5ps4q';
  font-style: normal;
  font-weight: 400;
  src: url("https://file.squarespace-cdn.com/content/v2/namespaces/fonts/libraries/69c2ef358a34ab18fd392d39/assets/1aa495c2-d331-431c-ab39-04f70a70ccb5/font.woff2") format('woff2');
}

body {
  margin: 0;
  background-color: var(--scs-off-white);
  color: #0c2340;
  font-family: sans-serif;
  /* Squarespace will override this later */
}

strong {
  font-family: 'mls-tifo-standard-cz9zex';
}

h1,
h2,
h3,
h4 {
  font-family: 'dharma-gothic-m-gvf2i7';
  text-transform: uppercase;
  margin: 0 !important;
}

/* h1 {
  font-size: calc((var(--heading-1-size-value) - 1) * 1.2vw + 1rem);
  text-align: center;
} */

h5 {
  font-family: 'mls-tifo-headline-b8wssb' !important;
  font-size: 1.15rem;
  line-height: 1.15rem;
  margin: 0 !important;
  padding-top: .5rem;
  text-transform: uppercase;
}

.text-red {
  color: #A92F2D;
}

.fs-uppercase {
  text-transform: uppercase;
}

.fs-label-global-sm {
  font-family: 'mls-tifo-headline-b8wssb' !important;
  font-size: 13px;
  font-weight: bolder;
}

h6 {
  font-family: 'mls-tifo-headline-b8wssb' !important;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
  margin: 0 !important;
  text-transform: uppercase;
}

.scs-text-span-sm {
  font-family: 'mls-tifo-standard-cz9zex' !important;
  font-weight: 700;
  font-size: .725rem;
  line-height: 1rem;
  margin: 0 !important;
  text-transform: uppercase;
  color: var(--scs-red);

  >span {
    color: #0C2440;
  }
}

.scs-display-stacked {
  display: flex;
  gap: 2rem
}

/* p {
  font-family: 'mls-tifo-standard-cz9zex';
   font-weight: 400;
} */

.cardDisclaimer {
  font-size: 12px;
  color: #888;
  line-height: 1.4;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px dashed #dedede;
  font-style: italic;
}

.scs-breadcrumbs-bottom-nav {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;

  >a {
    font-family: 'dharma-gothic-m-gvf2i7';
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2.5rem;
    line-height: 3rem;
    color: #AB322C;
    display: flex;
    gap: .3rem;
  }
}

@media (min-width: 768px) {
  .scs-breadcrumbs-bottom-nav {
    padding: 4rem 2rem;
  }

  .fs-label-global-sm {
    font-size: 16px;
  }
}

.scs-music-nav-date {
  font-family: 'mls-tifo-headline-b8wssb', sans-serif;
  text-transform: uppercase;
  font-size: .825rem;
  line-height: 1.25rem;
  letter-spacing: 5%;
}

.scs-card-button {
  all: unset;
  /* remove native button styles */
  /* display: block; */
  /* preserve layout */
  cursor: pointer;
  width: 100%;
}

.scs-card-button:focus-visible {
  outline: 3px solid #0c2340;
  outline-offset: 4px;
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: 'Geist Variable', sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}